@import url("fonts/stylesheet.css");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Graphik LCG";
  background-color: #e5e5e5;
}

button {
  font-family: "Graphik LCG";
}

.container {
  height: 100%;
}

.content {
  margin: 0 auto;
  width: 1440px;
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95px;
  border-bottom: 1px solid #d3d3d3;
}

.header__logo {
  margin-left: 51px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 15px;
}

.header__menu--item {
  margin-left: 51px;
}

.header__buttons {
  margin-left: auto;
  padding-right: 51px;
}

.header__buttons--login,
.header__buttons--trial {
  width: 120px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
}

.header__buttons--login {
  width: 120px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
}

.header__buttons--start {
  margin-left: 10px;
  width: 120px;
  color: #ffffff;
  height: 45px;
  background-color: #ff6336;
  border: none;
  border-radius: 0px;
}

.introduction {
  height: 862px;
  display: flex;
  flex-direction: row;
}

.introduction-text {
  margin-left: 75px;
}

.introduction-text__title {
  margin-top: 129px;
  width: 552px;
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
}

.introduction-text__description {
  margin-top: 51px;
  width: 471px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
}

.introduction-text__buttons {
  margin-top: 51px;
}

.introduction-text__buttons--start,
.introduction-text__buttons--demo {
  width: 160px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
}

.introduction-text__buttons--start {
  background-color: #ff6336;
  border: none;
  color: #ffffff;
}

.introduction-text__buttons--demo {
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.introduction-text__caption {
  margin-top: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.introduction-pic {
  margin-top: 141px;
}

.clients {
  height: 455px;
  background-color: #ff9c7d;
}

.clients__title {
  width: 720px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  padding: 108px 0 0 415px;
}

.clients__list {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 100px;
}

.features {
  margin-left: 75px;
}

.features__item {
  display: flex;
  flex-direction: row;
}

.features__item-first-text--title {
  margin-top: 241px;
  width: 493px;
}

.features__item-second-text--title {
  margin: 401px 0 0 138px;
  width: 379px;
}

.features__item-third-text--title {
  margin-top: 411px;
  width: 397px;
}

.features__item-fourth-text--title {
  margin: 373px 0 0 138px;
  width: 397px;
}

.features__item-first-text--title,
.features__item-second-text--title,
.features__item-third-text--title,
.features__item-fourth-text--title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

.features__item-first-text--description {
  width: 493px;
}

.features__item-second-text--description {
  margin-left: 138px;
  width: 450px;
}

.features__item-third-text--description {
  width: 520px;
}

.features__item-fourth-text--description {
  margin-left: 138px;
  width: 520px;
}

.features__item-first-text--description,
.features__item-second-text--description,
.features__item-third-text--description,
.features__item-fourth-text--description {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
}

.features__item-odd--start-now,
.features__item-even--start-now {
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.features__item-even--start-now {
  margin: 30px 0 0 138px;
}

.features__item-first--pic {
  margin: 90px 0 0 auto;
  padding-right: 75px;
}

.features__item-third--pic {
  margin: 250px 0 0 auto;
  padding-right: 75px;
}

.features__item-second--pic,
.features__item-fourth--pic {
  margin-top: 250px;
}

.localize {
  margin-top: 150px;
  height: 1033px;
  background-color: #fff8e4;
}

.localize__title {
  padding: 120px 0 0 275px;
  width: 890px;
  font-weight: 600;
  font-size: 50px;
}

.localize__row {
  display: flex;
  flex-direction: row;
}

.localize__row__item--pic {
  margin: 79px 0 0 200px;
}

.localize__row__item--games-pic {
  margin: 79px 0 0 190px;
}

.localize__row__item--web-title,
.localize__row__item--mobile-title,
.localize__row__item--games-title,
.localize__row__item--documents-title,
.localize__row__item--marketing-title,
.localize__row__item--iot-title {
  height: 35px;
  font-weight: 600;
  font-size: 25px;
}

.localize__row__item--web-title {
  margin: 26px 0 0 220px;
  width: 120px;
}

.localize__row__item--mobile-title {
  margin: 26px 0 0 210px;
  width: 165px;
}

.localize__row__item--games-title {
  margin: 26px 0 0 225px;
  width: 91px;
}

.localize__row__item--documents-title {
  margin: 26px 0 0 209px;
  width: 142px;
}

.localize__row__item--marketing-title {
  margin: 26px 0 0 170px;
  width: 229px;
}

.localize__row__item--iot-title {
  margin: 26px 0 0 260px;
  width: 54px;
}

.localize__row__item--web-description,
.localize__row__item--mobile-description,
.localize__row__item--games-description,
.localize__row__item--documents-description,
.localize__row__item--marketing-description,
.localize__row__item--iot-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.localize__row__item--web-description,
.localize__row__item--mobile-description,
.localize__row__item--games-description {
  margin: 20px 0 0 129px;
}

.localize__row__item--web-description {
  width: 303px;
}

.localize__row__item--mobile-description {
  width: 330px;
}

.localize__row__item--games-description {
  width: 281px;
}

.localize__row__item--documents-description {
  margin: 20px 0 0 126px;
  width: 309px;
}

.localize__row__item--marketing-description {
  margin: 20px 0 0 126px;
  width: 310px;
}

.localize__row__item--iot-description {
  margin: 20px 0 0 126px;
  width: 326px;
}

.teams {
  margin-left: 75px;
}

.teams__title {
  margin-top: 159px;
  width: 1287px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
}

.teams__items {
  display: flex;
  flex-direction: row;
}

.teams__items--managers-pic {
  margin-top: 75px;
}

.teams__items--developers-pic {
  margin: 92px 0 0 31px;
}

.teams__items--translators-pic {
  margin: 84px 0 0 31px;
}

.teams__items--managers-title,
.teams__items--developers-title,
.teams__items--translators-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.teams__items--managers-title {
  margin-top: 49px;
  width: 164px;
}

.teams__items--developers-title {
  margin: 68px 0 0 31px;
  width: 168px;
}

.teams__items--translators-title {
  margin: 58px 0 0 31px;
  width: 166px;
}

.teams__items--managers-description,
.teams__items--developers-description,
.teams__items--translators-description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.teams__items--managers-description {
  margin-top: 34px;
  width: 409px;
}

.teams__items--developers-description {
  margin: 33px 0 0 31px;
  width: 409px;
}

.teams__items--translators-description {
  margin: 34px 0 0 31px;
  width: 407px;
}

.teams__items--managers-learn,
.teams__items--developers-learn,
.teams__items--translators-learn {
  width: 109px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration-line: underline;
}

.teams__items--managers-learn {
  margin-top: 25px;
}

.teams__items--developers-learn,
.teams__items--translators-learn {
  margin: 25px 0 0 31px;
}

.chief-block {
  margin-top: 187px;
  display: flex;
  flex-direction: row;
  background-color: #c9e8f2;
  height: 468px;
}

.chief-block__text--quote {
  margin: 63px 0 0 75px;
  width: 895px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

.chief-block__text--role {
  margin: 23px 0 0 75px;
}

.chief-block__text--company-name {
  margin: 23px 0 0 75px;
}

.chief-block__photo {
  margin: 53px 0 0 auto;
  padding-right: 75px;
}

.rate-block {
  display: flex;
  flex-direction: row;
  height: 332px;
  background-color: #dabc98;
}

.rate-block__cake {
  margin-left: 54px;
}

.rate-block__text {
  margin: 117px 0 0 67px;
  width: 461px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}

.rate-block__border {
  margin-left: 124px;
}

.rate-block__users-score {
  margin-left: 71px;
}

.rate-block__highest-rated {
  margin-left: 71px;
}

.integrate-block__title {
  margin: 165px 0 0 325px;
  width: 791px;
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
}

.integrate-block__text {
  margin-left: 451px;
  width: 539px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.integrate-block__logo {
  margin: 25px 0 0 208px;
}

.integrate-block__button {
  margin: 32px 0 0 644px;
  width: 193px;
  height: 60px;
  background-color: #ff6336;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 0px;
}

.try-now-block {
  margin-top: 162px;
  height: 603px;
  background-color: #ff9c7d;
}

.try-now-block__title {
  margin-left: 328px;
  padding-top: 119px;
  width: 784px;
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
  text-align: center;
}

.try-now-block__text {
  margin: 29px 0 0 515px;
  width: 436px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.try-now-block__button {
  margin: 54px 0 0 640px;
  width: 160px;
  height: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0px;
  border: none;
}

.footer {
  height: 900px;
}

.footer__lists {
  display: flex;
  flex-direction: row;
}

.footer__lists--case-studies-title {
  margin: 92px 0 0 75px;
  width: 257px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
}

.footer__lists--case-studies-photo {
  margin: 28px 0 0 75px;
}

.footer__lists--case-studies-specialized {
  margin: 39px 0 0 75px;
}

.footer__lists--case-studies-text {
  margin: 24px 0 0 75px;
  width: 290px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.footer__lists--case-studies-read {
  margin: 15px 0 0 75px;
  width: 107px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.footer__lists--product {
  margin: 92px 0 0 140px;
}

.footer__lists--support {
  margin: 92px 0 0 142px;
}

.footer__lists--company {
  margin: 92px 0 0 51px;
}

.footer__lists--legal {
  margin: 92px 0 0 51px;
}

.footer__lists--product-title,
.footer__lists--support-title,
.footer__lists--company-title,
.footer__lists--legal-title {
  width: 79px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.footer__lists--product-items,
.footer__lists--support-items,
.footer__lists--company-items,
.footer__lists--legal-items {
  margin-top: 21px;
}

.footer__lists--product-item,
.footer__lists--support-item,
.footer__lists--company-item,
.footer__lists--legal-item {
  margin-top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
}

.footer__all-info--text {
  margin: 52px 0 0 75px;
  display: flex;
  flex-direction: row;
}

.footer__all-info--border {
  margin: 95px 0 0 75px;
}

.footer__all-info--description {
  margin: 10px 0 0 14px;
  width: 301px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer__all-info--copyright {
  margin: 10px 0 0 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer__all-info--copyright-years {
  width: 73px;
}

.footer__all-info--copyright-reserved {
  width: 109px;
}
