@font-face {
  font-family: "Graphik LCG";
  src: url("GraphikLCG-Regular.eot");
  src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
    url("GraphikLCG-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("GraphikLCG-Semibold.eot");
  src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"),
    url("GraphikLCG-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
